name: Strapi Management Submission

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          # మేనేజ్‌మెంట్ ఇచ్చిన రోల్ ని ఇక్కడ వాడుతున్నాం
          role-to-assume: arn:aws:iam::811738710312:role/ecsInstanceRole
          role-duration-seconds: 1200

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, Tag, and Push
        run: |
          docker build -t 811738710312.dkr.ecr.us-east-1.amazonaws.com/strapi-repo:latest .
          docker push 811738710312.dkr.ecr.us-east-1.amazonaws.com/strapi-repo:latest

      - name: Update ECS Service
        run: |
          aws ecs update-service --cluster strapi-cluster-v3 --service strapi-service-v3 --force-new-deployment